<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PrimeWithFile.SettingsApplication" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="PrimeWithFile.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="PrimeWithFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PrimeWithFile.SettingsApplication" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PrimeWithFile.SettingsApplication>
            <setting name="FileName" serializeAs="String">
                <value>primes.txt</value>
            </setting>
            <setting name="FileCounter" serializeAs="String">
                <value>counter.txt</value>
            </setting>
        </PrimeWithFile.SettingsApplication>
        <PrimeWithFile.Settings1>
            <setting name="FileName" serializeAs="String">
                <value>primes.txt</value>
            </setting>
            <setting name="FileCounter" serializeAs="String">
                <value>counter.txt</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>395</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>180</value>
            </setting>
        </PrimeWithFile.Settings1>
        <PrimeWithFile.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value>"primes.txt"</value>
            </setting>
        </PrimeWithFile.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PrimeWithFile.SettingsApplication>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>395</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>180</value>
            </setting>
        </PrimeWithFile.SettingsApplication>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
